body{
    font-family: 'Raleway', sans-serif; ;
    margin: 40px 40px 40px 40px;
    max-width:1440px;
}
header{display:flex;
    justify-content: space-between; 
    margin: 20px 0px 20px 0px; 
 
}
#LOGO img{width: 100px;
margin-left: auto;
}
nav{
    width: 350px;
    height: 45px;
    display: flex;
    justify-content:space-around;
    align-items: center; 
    margin-top: 0px 40px 0px 0px;

}
a{text-decoration: none;color: black
}
nav a:hover{font-size:x-large;
}
#Heb a{font-weight:normal;
    color:#0065FC;
}
#insc a {font-weight:bold;
    color:#0065FC;
}

ul{list-style-type: none;
}
li{list-style-type: none;
}
#section1{
    display: flex;
    flex-direction: column;
    margin-top: 20px 30px 0px 20px; 
}
#marker{color:black;
    justify-content: center;
    align-items: center;
}
#MARK{display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
    }
#ville{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:1px #F2F2F2 solid;
    width: auto;
    height: 40px;
    padding: 5 0 5 0;  
}
input{
    border: none;
    text-align: center;
    text-decoration-color: black;
    font-weight:bold;
    font-size:larger;
}
#recherche{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white ;
    height: 31px;
    padding: 5px 15px 5px 15px;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    font-weight:bold;}
    
#info{color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px #F2F2F2 solid;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px ;
}
#et_bleue{color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
#et_grise{color:  #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-info{
    text-align: right;
    padding: 0px 0px 0px 15px;
}
#INFOS{display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin: 20px 0px 30px 0px;
    
} 

#FILTRES{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    max-width: 70%;
    padding: 0px 0px 0px 0px;
}
.s-filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 30px;
    padding: 5px 15px 5px 0px;
    margin: 10px;
    border:1px #F2F2F2 solid;
    border-radius: 30px ;

}
.s-filtre:hover{box-shadow: 10px 10px 10px 2px rgb(150, 150, 150);
    background-color: #F2F2F2;
}
.txt-filtre{
    padding: 5px 10px 5px 10px;
    font-weight:bold;
    text-justify: distribute;
}

#money{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#child{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#heart{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#dog{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#SLOGAN{
    width: 100%;
    margin-top: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
} 

#LOCALISATION{width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-color: #F2F2F2;
    margin-top: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0px; 
}
#section2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    max-width:1440px;
    justify-content: flex-start;
    margin: 0px  0px 0px 0px;
    padding: 0px  0px 0px 0px;}
    article{
        display:flex;
        flex-flow:column nowrap;
        background-color:#F2F2F2;
        max-width: 60%;
        min-width: MIN-content;
        min-height: min-content;
        justify-content: space-evenly;
        border-radius: 20px;
        margin: 30px  0px 0px 0px;
        padding: 0px  0px 0px 40px;}
        #heb_titre{
            margin: 10px  0px 10px 0px;
            padding: 0px  0px 0px 0px;
        }
        #Hébergements_à_Marseille{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0px  0px 0px 0px;
            padding: 0px  0px 0px 0px;
        }
            .carte1{
                display: flex;
                flex-flow:column wrap;
                justify-content: left;
                background-color: white;
                border-radius: 20px;
                width: 250px;
                max-height: min-content;
                margin: 0px  35px 30px 0px;
                box-shadow: 5px 5px 5px 1px grey;}
                .image1{
                    border-radius: 20px ;
                    padding: 3px;
                    max-width:245px;
                    max-height:120px
                }
                .contain1{
                    width:245px;
                    height:120px;
                    object-fit:cover;
                    border-top-right-radius: 17px;
                    border-top-left-radius: 17px;
                }
                .text1{
                    display: flex;
                    max-width:245px;
                    max-height:80px;
                    flex-direction: column;
                    justify-content: space-around;
                    margin: 10px  0px 10px 0px;
                    padding: 0px 0px 0px 10px; 
                }
                .cotation{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                }
                .lieu{
                    font-weight: bold;
                    max-width:210px;
            
        }
        #Afficher{
            margin: 0px  0px 0px 0px;
    }
    aside{
        display: flex;
        flex-flow:column wrap;
        width: 25%;
        min-width: max-content;
        background-color:#F2F2F2;
        border-radius: 20px;
        align-content:center;
        margin:30px  50px 0px 40px;
        padding: 0px  40px 0px 40px;}
        #Les_plus_Populaires{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            width: 300px;}
            .titre{
                align-self: flex-start;
                font-size:larger}
            #diag{
                display: flex;
                justify-content: center;
                align-items: center;}
        .carte2{
            display: flex;
            flex-direction:row;
            background-color: white;
            border-radius: 20px;
            width: 345px;
            max-height:min-content;
            box-shadow: 5px 5px 5px 1px grey ;
            margin: 0px  0px 30px 0px;}
            .image2{
                border-radius: 20px ;
                padding:3px;
                max-width:135px;
                height:145px
            }
            .contain2{
                width:135px;
                height:145px;
                object-fit:cover;
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                justify-content:space-around;
            }
            .text2{
                display: flex;
                max-width:210px;
                max-height:145px;
                flex-direction: column;
                justify-content: space-around;
                padding: 15px 20px 15px 10px;  
            }
            #Hot_le_soldumat{
                display:flex;
                flex-flow:row nowrap; 
            }
            #Au_coeur_2_lo{
                display:flex;
                flex-flow:row nowrap;
            }
            #Hot_bleu_blc{
                display:flex;
                flex-flow:row nowrap;
    }
    #section3{
        padding-left: 0px;}
        .ACTIV{
            display: flex;
            flex-wrap: wrap ;
            flex-direction: column;
            max-width: 1440px;
            height:500px;
            justify-content: space-around;}
            .carte3{
                display: flex;
                flex-flow: column nowrap;
                background-color: white;
                border-radius: 20px;
                width: 305px;
                height: max-content;
                box-shadow: 5px 5px 5px 1px grey;}
                .contain3{
                    width:305px;
                    height:390px;
                    object-fit:cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                .text3{
                    margin-left:20px;
                    width:360px;
                    height:50px;
                }
                .contain4{
                    width:305px;
                    height:180px;
                    object-fit:cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                .contain5{
                    width:305px;
                    height:120px;
                    object-fit:cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                .contain6{
                    width:305px;
                    height:150px;
                    object-fit:cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
    }
    .carte1:hover{box-shadow: 10px 10px 10px 2px rgb(150, 150, 150)}
    .carte2:hover{box-shadow: 10px 10px 10px 2px rgb(150, 150, 150)}
    .carte3:hover{box-shadow: 10px 10px 10px 2px rgb(150, 150, 150)
}
#FOOTER{
    width: 1440px;
    height:220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-around;
}

    

