body{
    font-family: 'Raleway', sans-serif; ;
    padding: 0px 0px 0px 40px;
    max-width:1440px;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between; 
    margin: 40px 0px 0px 0px;
}
#LOGO img{
    width: 100px;
    margin-left: auto;
}
nav{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
    height: 45px;
    justify-content:space-between;
    align-items: center; 
    margin: 0px 40px 0px 0px;
    padding: 0px 40px 0px 0px;
}
#Heb{
    margin-bottom: 3px;
    border-bottom: #0065FC;
}   
a{text-decoration: none;color: black
}
nav a:hover{
    text-decoration-line:overline  ;
}
#Heb a{font-weight:normal;
    color:#0065FC;
}
#insc a {font-weight:bold;
    color:#0065FC;
}

ul{list-style-type: none;
}
li{list-style-type: none;
}/* -----------------------------------------SECTION 1 ------------------------------*/
#section1{
    display: flex;
    flex-direction: column;
    margin: 20px 30px 0px 20px; 
}
#marker{color:black;
    justify-content: center;
    align-items: center;
}
#MARK{display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
}
#loupe{color: white;
    }
#ville{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:1px #F2F2F2 solid;
    width: auto;
    height: 40px;
     
}
input{
    border: none;
    text-align: center;
    text-decoration-color: black;
    font-weight:bold;
    font-size:larger;
}
#recherche{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white ;
    height: 31px;
    padding: 5px 15px 5px 15px;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    font-weight:bold;}
    
#info{color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px #F2F2F2 solid;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px ;
}
.et_bleue{color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.et_grise{color:  #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-info{
    text-align: right;
    padding: 0px 0px 0px 15px;
}
#INFOS{display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin: 20px 0px 0px 0px;
    
} 

#FILTRES{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    max-width: 70%;
    padding: 0px 0px 0px 0px;
}
.s-filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 30px;
    padding: 5px 15px 5px 0px;
    margin: 10px;
    border:1px #F2F2F2 solid;
    border-radius: 30px ;

}
.s-filtre:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #F2F2F2;
    transition: all 0.5s ease-in;
}
.txt-filtre{
    padding: 5px 10px 5px 10px;
    font-weight:bold;
    
}

#money{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#child{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#heart{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#dog{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#SLOGAN{
    width: 100%;
    padding: 0px 0px 10px 0px;
} 

#LOCALISATION{width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-color: #F2F2F2;
    padding: 0px 0px 10px 0px; 
}/* -----------------------------------------SECTION 2 ------------------------------------------*/
#section2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    max-width:1440px;
    justify-content: flex-start;
    margin: 0px  0px 40px 0px;
    padding: 0px  0px 0px 0px;
}
article{
    display:flex;
    flex-flow:column nowrap;
    background-color:#F2F2F2;
    width: 60%;
    min-width:min-content;
    min-height: min-content;
    align-content:center;
    justify-content: center;
    border-radius: 20px;
    margin: 30px  40px 0px 0px;
    padding: 0px  0px 0px 40px;
}
#heb_titre{
    margin: 10px  0px 10px 0px;
    padding: 0px  0px 0px 0px;
}
#Hebergements_a_Marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-width:min-content;
    margin: 0px  0px 0px 0px;
    padding: 0px  0px 0px 0px;
}
.carte1{
    display: flex;
    flex-flow:column wrap;
    justify-content: left;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    max-height: min-content;
    margin: 10px;
    box-shadow: 3px 3px 5px 1px rgb(170, 170, 170);
 
}.image1{
    border-radius: 20px ;
    padding: 3px;
    max-width:245px;
    max-height:120px
}
.contain1{
    width:245px;
    height:120px;
    object-fit:cover;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}
.text1{
    display: flex;
    max-width:245px;
    max-height:80px;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px  0px 10px 0px;
    padding: 0px 0px 0px 10px; 
}
.cotation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.lieu{
    font-weight: bold;
    max-width:210px;

}
#Afficher{
    margin: 0px  0px 0px 0px;
}
aside{
    display: flex;
    flex-flow:column wrap;
    width: 25%;
    min-width: max-content;
    background-color:#F2F2F2;
    border-radius: 20px;
    align-content:center;
    justify-content: space-between;
    margin:30px  10px 0px 0px;
    padding: 0px  40px 0px 40px;
}
#Les_plus_Populaires{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}
.titre{
    align-self: flex-start;
    font-size:larger
}
#diag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carte2{
    display: flex;
    flex-direction:row;
    background-color: white;
    border-radius: 20px;
    width: 345px;
    height: 145px;
    box-shadow: 3px 3px 5px 1px rgb(170, 170, 170);
    margin: 0px  0px 30px 0px;
    padding: 3px;
    justify-content:center;
}
.cotation2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-end;
    
}
.text2 .cotation2{align-self:flex-end;}
.image2{
    border-radius: 20px ;
    padding:0px 0px 3px 0px ;
    max-width:135px;
    height:145px
}
.contain2{
    width:135px;
    height:145px;
    object-fit:cover;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    justify-content:space-around;
    
}
.text2{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    max-width:210px;
    height:auto;
    align-items:flex-start;
    padding: 15px 20px 15px 10px;  
}
#Hot_le_soldumat{
    display:flex;
    flex-flow:row nowrap; 
}
#Au_coeur_2_lo{
    display:flex;
    flex-flow:row nowrap;
}
#Hot_bleu_blc{
    display:flex;
    flex-flow:row nowrap;
}          
/* -----------------------------------------SECTION 3 ------------------------------------------*/
section{
    margin: 30px 0px 0px 0px;
}
#section3{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    max-width:1440px;
    height:auto;
    margin: 30px 0px 0px 0px;
    padding: 30px 0px 0px 0px;
}
#Activites_a_Marseille{
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px ;
}
.ACTIV{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
    max-width: 1440px ;
    height: 550px;
    justify-content:flex-start;
}
.carte3{
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    border-radius: 20px;
    width: 305px;
    height: max-content;
    margin: 0px 0px 20px 0px;
    box-shadow: 5px 5px 5px 1px grey;
}
.contain3{
    width:305px;
    height:390px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text3{
    margin-left:20px;
    width:360px;
    height:50px;

}
.contain4{
    width:305px;
    height:180px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     
}
.contain5{
    width:305px;
    height:120px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contain6{
    width:305px;
    height:150px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.carte1:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s ease;
}
.carte2:hover{
    box-shadow: 10px 10px 10px 2px  rgb(53, 52, 52);;
    transition: all 0.3s ease;
}.carte3:hover{
    box-shadow: 10px 10px 10px 2px rgb(150, 150, 150);
    transition: all 0.3s ease;
}
/* -----------------------------------------PIED DE PAGE ------------------------------------------*/
#FOOTER{
    max-width: 1440px;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-between;
    margin: 0px 0px 0px -40px;
    padding: 0px 350px  60px 40px;
}

    

