body{display: flex;
    flex-flow: column wrap;
    font-family: 'Raleway', sans-serif;
    align-items: flex-start ;
    padding: 0px 40px 0px 40px;
    max-width:1440px;

}
header{
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    height:70px;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#LOGO img{
    width: 100px;
 
}
#LOGO {display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    width: 100px;
}
 

nav{ align-self: flex-start;
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    width: auto;
    height: 45px;
    margin: 0px 40px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#Heb1{
    display: flex;
    flex-flow: column wrap;
    font-weight:normal;
    justify-content:flex-end;    
    width: 160px;
    height: 50px;
    align-items:center;
   
}
#Heb1 a{
    font-weight:normal;
}
#Heb1 :hover{
    display: flex;
    flex-flow: column wrap;
    font-weight:normal;
    justify-content:flex-end;
    color:#0065FC;
    border-top: 3px #0065FC solid;
    width: auto;
    height: 50px;
    align-items:center;
    padding: 0 20px 0 20px;
}
#Act1{
    display: flex;
    flex-flow: column wrap;
    font-weight:normal;
    justify-content:flex-end;    
    width: 150px;
    height: 50px;
    align-items:center;
}
#Act1 a{
    font-weight:normal;
}
#Act1 :hover{display: flex;
    flex-flow: column wrap;
    font-weight:normal;
    justify-content:flex-end;
    color:#0065FC;
    border-top: 3px #0065FC solid;
    width: auto;
    height: 50px;
    align-items:center;
    padding: 0 20px 0 20px;
}
#Insc{
    display: flex;
    flex-flow: column wrap;
    font-weight:normal;
    justify-content:flex-end;    
    width: 150px;
    height: 50px;
    align-items:center;
}
#Insc a{font-weight:bold;
    color:#0065FC;   
}
#Insc :hover{display: flex;
    flex-flow: column wrap;
    font-weight:normal;
    justify-content:flex-end;
    color:#0065FC;
    border-top: 3px #0065FC solid;
    width: auto;
    height: 50px;
    align-items:center;
    padding: 0 20px 0 20px;
}
#nav2{display:none;

}
#Heb2,#Act2{ display:none;
}
#Heb2 a,#Act2 a{font-weight:normal;
    color:white;
}
a{
    text-decoration: none;color: black
}
ul{list-style-type: none;
}
li{list-style-type: none;
}/*----------------------------------------SECTION 1 ------------------------------*/
#SLOGAN{
    width: 100%;
    padding: 0px 0px 10px 0px;
   
}
.TITRE
    {
        width: 100%;
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 10px;
        
    }
.SOUSTITRE{
    
    width: 100%;
    font-size: 1em;
   
}
#section1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100%;
    margin: 0px 40px 0px 0px; 
}
#marker{
    color:black;
    justify-content: center;
    align-items: center;
}
#MARK{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-top-left-radius: 15px ;
    border-bottom-left-radius: 15px;
}
#loupe{display:none;
    }
#ville{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border:1px #F2F2F2 solid;
    width: auto;
    height: 40px;
     
}
input{
    border: none;
    text-align: center;
    text-decoration-color: black;
    font-weight:bold;
    font-size:larger;
}
#recherche{
    display: flex ;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    color: white ;
    height: 31px;
    padding: 5px 15px 5px 15px;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    font-weight:bold;}
    
#info{color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px #F2F2F2 solid;
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 20px ;
}
.et_bleue{color:#0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.et_grise{color:  #b4b4b4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt-info{
    text-align: right;
    padding: 0px 0px 0px 15px;
}
#INFOS{display: flex;
    flex-wrap:nowrap;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: auto;
    margin: 20px 0px 0px 0px;
    
} 

#FILTRES{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    max-width: 70%;
    padding: 0px 0px 0px 0px;
}
.s-filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 30px;
    padding: 5px 15px 5px 0px;
    margin: 10px;
    border:1px #F2F2F2 solid;
    border-radius: 30px ;

}
.s-filtre:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #F2F2F2;
    transition: all 0.3s ease-in-out;
}
.txt-filtre{
    padding: 5px 10px 5px 10px;
    font-weight:bold;
    
}.txt-filtre1{ 
    padding: 5px 10px 5px 10px;
    font-weight:bold;}

#money{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#child{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#heart{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
#dog{color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:1px #F2F2F2 solid;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 30px ;
}
 

#LOCALISATION{width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 5px;
    border-color: #F2F2F2;
    padding: 0px 0px 10px 0px; 
}/* -----------------------------------------SECTION 2 ------------------------------------------*/
#section2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    width:100%;
    margin: 0px  0px 0px 0px;
    padding: 0px  0px 0px 0px;
}
article{
    display:flex;
    flex-flow:column nowrap;
    background-color:#F2F2F2;
    width: 64%;
    min-width: min-content;
    max-width:max-content;
    min-height: min-content;
    align-content:center;
    justify-content: center;
    border-radius: 20px;
    margin: 30px  30px 0px 0px;
    padding: 0px  0px 0px 0px;
}
#heb_titre{
    margin: 0px  0px 0px 30px;
    padding: 0px  0px 0px 0px;
}
#Hebergements_a_Marseille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    min-width:min-content;
    justify-content: space-around;
    align-content:center;
    margin: 0px  0px 0px 20px;
    padding: 0px  20px 0px 0px;
}
.carte1{
    display: flex;
    flex-flow:column wrap;
    justify-content: left;
    background-color: white;
    border-radius: 20px;
    width: 250px;
    max-height: min-content;
    margin: 10px;
    box-shadow: 4px 4px 5px 1px rgb(170, 170, 170);
 
}.image1{
    border-radius: 20px ;
    padding: 3px;
    max-width:245px;
    max-height:120px
}
.contain1{
    width:245px;
    height:120px;
    object-fit:cover;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}
.text1{
    display: flex;
    max-width:245px;
    max-height:80px;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px  0px 10px 0px;
    padding: 0px 0px 0px 10px; 
}
.cotation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.lieu{
    font-weight: bold;
    max-width:210px;

}
#Afficher{
    margin: 0px  0px 0px 30px;
}
aside{
    display: flex;
    flex-flow:column wrap;
    width:25%;
    min-width: max-content;
    background-color:#F2F2F2;
    border-radius: 20px;
    align-content:center;
    justify-content: space-between;
    margin:30px  0px 0px 0px;
    padding: 0px  30px 0px 30px;

}
#Les_plus_Populaires{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
}
#titre_les_popu{
    display: none;
}
.titre{
    align-self: flex-start;
    font-size:larger;
    margin: 20px 0 0 0;

}
#diag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carte2{
    display: flex;
    flex-direction:row;
    background-color: white;
    border-radius: 20px;
    width: min-content;
    height: 145px;
    box-shadow: 4px 4px 5px 1px rgb(170, 170, 170);
    margin: 0px  0px 30px 0px;
    padding: 3px;
    justify-content:flex-start;
}

.cotation2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-end;
}

.text2 .cotation2{align-self:flex-end;
}

.contain2{
    width:135px;
    height:145px;
    object-fit:cover;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    justify-content:space-around;
    
}
.text2{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:210px;
    height:auto;
    align-items:flex-start;
    padding: 15px 20px 15px 20px;  
}
.espace1{
    margin: 8px 0px;
}

#Hot_le_soldumat{
    display:flex;
    flex-flow:row nowrap; 
}
#Au_coeur_2_lo{
    display:flex;
    flex-flow:row nowrap;
}
#Hot_bleu_blc{
    display:flex;
    flex-flow:row nowrap;
}          
/* -----------------------------------------SECTION 3 ------------------------------------------*/
section{
    width:100%;
    margin: 0px 0px 0px 0px;
}
#section3{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    height:auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
#Activites_a_Marseille{
    margin: 20px 0px 20px 0px;
    padding: 20px 0px 20px 0px ;
}
.ACTIV{
    display: flex;
    flex-wrap:wrap ;
    flex-direction: column;
    align-items: flex-start;
    width:100%; 
    height: 550px;
}

.carte3{
    display: flex;
    flex-flow: column wrap;
    background-color: white;
    border-radius: 20px;
    width: 305px;
    height: max-content;
    margin: 0px 20px 20px 0px;
    box-shadow: 4px 4px 5px 1px rgb(185, 185, 185);
}
.image2{
    border-radius: 20px ;
    padding:0px 0px 3px 0px ;
    max-width:305px;
    height:145px;
}
.contain3{
    width:305px;
    height:390px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.text3{
    margin-left:20px;
    width:360px;
    height:50px;

}
.contain4{
    width:305px;
    height:180px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
     
}
.contain5{
    width:305px;
    height:120px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.contain6{
    width:305px;
    height:150px;
    object-fit:cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.carte1:hover{
    box-shadow: 5px 5px 5px 2px rgb(110, 110, 110);
    transition: all 0.4s ease-in-out;
}
.carte2:hover{
    box-shadow: 5px 5px 5px 2px rgb(110, 110, 110);
    transition: all 0.4s ease-in-out;
}.carte3:hover{
    box-shadow: 5px 5px 5px 2px rgb(110, 110, 110);
    transition: all 0.4s ease-in-out;
}
/* -----------------------------------------PIED DE PAGE ------------------------------------------*/
footer{
    width: 100%;
}
#FOOTER{
    max-width: 100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-between;
    margin: 0px -40px 0px -40px;
    padding: 10px 350px  30px 40px;
}








/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px) { 
    body{
        display: flex;
        flex-direction: column;
        max-width:100%;
        margin: 0px;
        padding: 10px 40px 10px 40px;
    }
    header{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap; 
        width: 100%;
        height: auto;
        margin: 20px 0 20px 0px;
        align-self: center;
    
    }
    #LOGO img{
        width:100%;
     
    }
    #LOGO {
        width:25%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 10px 0px 10px 50px;
    }
    nav
    { 
        display: flex;
        flex-flow: column nowrap;
        justify-content:center;
        align-items:flex-end;
        align-content:flex-start;
        width: auto;
        height: 100px;
        margin: 0px 0px 0px 0px;
        padding: 0px 50px 0px 0px;
    }
    #Heb1{
       
        display: none;
    }
    #Heb1 a{
        display: none;
    }
    #Act1{
        display: none;
    }
    #Act1 a{
        display: none;
    }
    
    #nav2
    { 
        display: flex;
        flex-flow: row wrap;
        width:100%;
        height:auto;
        justify-content:space-between;
        align-items: center;
        margin: 0px 0 15px 0;
    }
    #Heb2{flex:1;
        display: flex;
        flex-flow: row wrap;
        font-weight:normal;
        justify-content:center;    
        align-items:center;
     
        height: 100px; 
        border-bottom: 6px rgb(165, 164, 164) solid;
        color:black;
        font-size: 2.5rem;
    }
    #Heb2 a{
        color:black;
        font-weight:normal;
        font-size: 2.5rem;
    }
    #Heb2 :hover{
        display: flex;
        flex-flow: row wrap;
        font-weight:normal;
        justify-content:center;    
        align-items:center;
        width: 100%;
        height: 100px; 
        border-bottom: 6px #0065FC solid;
        color:#0065FC;
        font-size: 2.5rem;
    }
    #Act2{flex:1;
        display: flex;
        flex-flow: row wrap;
        font-weight:normal;
        justify-content:center;    
        
        height: 100px;
        align-items:center;
        border-bottom: 6px rgb(165, 164, 164) solid;
        color:black;
        font-size: 2.5rem;
    }
    #Act2 a{
        color:black;
        font-weight:normal;
        font-size: 2.5rem;
    }
    #Act2 :hover{
        display: flex;
        flex-flow: row wrap;
        font-weight:normal;
        justify-content:center;    
        width: 100%;
        height: 100px;
        align-items:center;
        color:#0065FC;
        border-bottom: 6px #0065FC solid;
        font-size: 2.5rem;
    }
    a{
        text-decoration: none;color: black;
    }
    #insc a {
        font-weight:bold;
        color:#0065FC;
        font-size: 2.5rem;
        height: 100px;
    }
    #Insc{
        margin:0 40px 0 0;
        font-size: 2.5rem;
        height: 100px;

    }
    #Insc :hover{display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;
        color:#0065FC;
        border-top: 6px #0065FC solid;
        width: auto;
        height: 70px;
        align-items:center;
        padding: 0 0px 0 0px;
        font-size: 2.5rem;

    }
    #section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        width:100%;
        margin: unset; 
        padding: unset; 
        
    }
    #SLOGAN{
        display: flex;
        flex-flow: column wrap;
        flex: 1 1 auto;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        font-size: 2.5rem;
    }
    .TITRE{display: flex;
        flex: 1 1 auto;
        width: 90%;
        align-self:center;
        text-align:left;
        padding: 0px 0px 0px 30px;
        margin: 40px 0px 20px 0px;     
    }
   .SOUSTITRE{
        width: 90%;
        align-self:center;
        padding: 0px 0px 0px 30px;
        margin: 0px 0px 20px 0px; 
    }
    #LOCALISATION{
        display: flex;
        flex-direction: row;
        align-self:flex-start;
        justify-content: space-between;
        width: 90%;
        height:auto;
        padding: 0px 0px 0px 0px;
        margin: 60px 0px 60px 40px;
        border: 1px GREY solid;
        border-radius: 45px;
      
        
    }
    #marker{
        color:black;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
    #MARK{
        width: 70px;
        height: 72px;
        padding: 15px;
        border-top-left-radius: 35px ;
        border-bottom-left-radius: 35px;
    }

    #loupe{display: flex ;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        color:white;
        width: 70px;
        height: 72px;
        padding: 15px;
        border-radius: 35px;
        font-size: 2rem;
    }
    #ville{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: none;
        max-width: 60%;
        height: 40px;
        font-size: 2rem;

    
    }
    #recherche{ display: none;
    }
    #FILTRES{
        display: flex;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 100%;
        margin: 0px 0px 40px 30px;
    }
    #titre-filtre{
        width: 100%;
        font-size: 2.5rem;
        margin:0 0 0 0;
    }
    .s-filtre{
        display: flex;
        width:auto;
        justify-content: space-between;
        height: 100px;
        border-radius: 55px;
        font-size: 2.3rem;
        margin:0px 45px 30px 0px;
        padding: 5px 0px;
        border-color: grey;
    }
    .txt-filtre{
        display: flex;
        flex-wrap: wrap;
        align-items: center ;
        height: 100px;
        width: min-content;
        padding: 5px 30px 5px 30px;
        margin: 0 0px 0 0px;
        font-weight:bold;
        
    }.txt-filtre1{
        display: flex;
        flex-wrap: wrap;
        align-items: center ;
        height: 100px;
        width: auto;
        padding: 5px 30px 5px 30px;
        margin: 0 0px 0 0px;
        font-weight:bold;}
        
    #money{color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DEEBFF;
        border:1px #F2F2F2 solid;
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 100px ;
    }
    #child{color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DEEBFF;
        border:1px #F2F2F2 solid;
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 100px ;
    }
    #heart{color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DEEBFF;
        border:1px #F2F2F2 solid;
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 100px ;
    }
    #dog{color: #0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #DEEBFF;
        border:1px #F2F2F2 solid;
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 100px ;
    }
    
    
    #INFOS{
        font-size: large;
        width:100%;
        align-items:flex-start;
        padding: 0px 20px 0px 40px;
        margin:0px 0px 40px 0px;
    }
    #info{
        font-size:1.5rem;
        width: 50px;
        height: 50px;
        padding: 0px;
        border-radius: 50px ;
        border:  2px rgb(165, 165, 165) solid;

    }
    .txt-info { 
        font-size:2.5rem;
        display:flex;
        flex-flow: row wrap;
        text-align: left;
        width: 100%;
        align-self: center;
        text-align: left;
    }
    #section2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        max-width:100%;
      
    }
    aside{
        display: flex;
        flex-flow: column wrap;
        min-width: 100%; 
        height:auto;
        order:1;
        justify-content: center;
        align-items: center;
        padding: 0 20px 0 0px;
        margin: 20px  0 0 0; 
        background-color:#F2F2F2;
        border-radius: 0px;
    }

    .titre{
        font-size: 3rem;
        margin: 20px  0px 30px 40px;
        padding: 0px  0px 0px 0px;
    }
    #diag{
        font-size: 3rem;
        margin: 0px  40px 0px 0px;

    }
     #Les_plus_Populaires{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 0px;
    }
    .carte2{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        background-color: white;
        justify-content:space-between;
        border-radius: 40px;
        width: 90%;
        height: 300px;
        margin: 0px  0px 40px 0px;
        padding: 10px;  
        align-items: center;
        box-shadow: 0px 10px 10px 3px rgb(185, 185, 185);}
    
    .image2{flex:1;
        border-radius:40px;
        padding:0px ;
        width:100%;
        height: 300px;
    }
    .contain2{
        display:flex;
        width:100%;
        height:300px;
        object-fit:cover;
        border-bottom-left-radius: 35px;
        border-top-left-radius: 35px;
        padding:0px ;
        
        
    }
    .text2{
        flex:2;
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        width: 100%;
        height: 300px;
        align-items:flex-start;
        padding: 20px 0 15px 40px;
        text-align: left;
    }
    
    .lieu{
        flex:1;
        max-width: 80%;
        margin: 0px;
        padding: 0px 0px 10px 0px;
    }
    .tarif{
        flex:1;
        padding: 0px 0px 10px 0px;
    }
    .espace{
        margin: 10px 0px;
    }
    
    .cotation2{
        font-size: 2.1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: flex-end;
        padding: 0px 0px 0px 10px;
    }
    .espace1{
        margin: 10px 0px;
    }
    
   .text2 .cotation2{align-self:flex-end;
    }

    #Hot_le_soldumat{
        width:100%;
        display:flex;
        flex-flow:row nowrap; 
    }#Au_coeur_2_lo{
        width:100%;
        display:flex;
        flex-flow:row nowrap;
    }
    #Hot_bleu_blc{
        width:100%;
        display:flex;
        flex-flow:row nowrap;
    }

    article{
        display: flex;
        width: 100%;
        order:2;
        background-color: white;
        margin: 0px  0px 0px 0px;
        padding: 0px  0px 0px 0px;
    }
    #heb_titre{
        font-size: 2.2rem;
        margin: 20px  0px 10px 40px;
        padding: 0px  0px 0px 0px;
        display:flex;
        width:100%;
        justify-content: flex-start;
      
    }
   
   
    #Hebergements_a_Marseille{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: min-content;
        height:auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px  20px 0px 20px;
        padding: 0px  0px 0px 0px;
    }
    
    .carte1{
        display: flex;
        flex-flow: column wrap;
        background-color: white;
        border-radius: 40px;
        width: 95%;
        height: 470px;
        box-shadow: 5px 5px 5px 1px grey ;
        margin: 0px  100px 40px 100px;
        padding:10px;
        box-shadow: 0px 10px 10px 3px rgb(185, 185, 185);
    }
    .image1{
        border-radius: 40px ;
        max-width:100%;
        max-height:70%
    }
    .contain1{
        width: 100%;
        height:270px;
        object-fit:cover;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .text1{
        font-size: 2.5rem;
        display: flex;
        max-width:100%;
        max-height:200px;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px  0px 10px 0px;
        padding: 0px 0px 0px 30px; 
    }
    .cotation{
        font-size: 2.2rem;
        margin: 10px  0px 0px 0px;
    }
    #Afficher{
        font-size: 2.2rem;
        margin: 0px  0px 0px 40px;
    }
    #section3{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        display: flex;
        justify-content: center;
        width:100%;
        height:auto;
    }
        
    #Activites_a_Marseille{
        font-size: 2.2rem;
        margin: 0px  0px 0px 40px;
        padding: 0px 0px 10px 20px;
    }
    .ACTIV{
        display: flex;
        flex-wrap:wrap ;
        flex-direction: column;
        width:100%;
        height: auto;
        justify-content:center;
        align-items: flex-start;
    }
    .carte3{
        display: flex;
        flex-flow: column nowrap;
        background-color: white;
        border-radius: 40px;
        width: 92%;
        height: 500px;
        margin: 0px  60px 40px 40px;
        box-shadow: 0px 10px 10px 3px rgb(185, 185, 185);
    }
    .image3{
        width: 100%;
        height:320px;
    }
    .contain3{
        width: 100%;
        height:320px;
        object-fit:cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .text3{
        font-size: 2.2rem;
        margin-left:40px;
        width: auto;
        height:180px;
        padding: 20px 0 0 0;
       
    }
    .contain4{ 
        width: 100%;
        height:320px;
        object-fit:cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .contain5{
        width: 100%;
        height:320px;
        object-fit:cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .contain6{
        width: 100%;
        height:320px;
        object-fit:cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        
    }
    #FOOTER{
        font-size:2.5rem;
        max-width: 100%;
        height:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        justify-content: space-between;
        margin: 40px 0px 30px 0px;
        padding: 60px 0px  60px 50px;
    }
}




/* -----------Tablette ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 481px) 
  and (max-device-width: 1380px) {
    body
    {
        display:flex;background-color:white;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0px 0px 0px 0px;
        max-width: 1370px;
        justify-content: center;
    }
    nav{ 
        display: flex;
        justify-content: flex-end;
        flex-flow: row wrap;
        align-items:flex-start;
        width: 80%;
        height: auto;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    #Heb1{
        display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;    
        width: 120px;
        height: 50px;
        align-items:center;  
    }
    #Heb1 a{
        font-weight:normal;
    }
    #Heb1 :hover{
        display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;
        color:#0065FC;
        border-top: 3px #0065FC solid;
        width: auto;
        height: 50px;
        align-items:center;
        padding: 0 0px 0 0px;
    }
    #Act1{
        display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;    
        width: 100px;
        height: 50px;
        align-items:center;
    }
    #Act1 a{
        font-weight:normal;
    }
    #Act1 :hover{display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;
        color:#0065FC;
        border-top: 3px #0065FC solid;
        width: auto;
        height: 50px;
        align-items:center;
        padding: 0 0px 0 0px;
    }
    #Insc{
        display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;    
        width: 100px;
        height: 50px;
        align-items:center;
    }
    #Insc a{font-weight:bold;
        color:#0065FC;   
    }
    #Insc :hover{display: flex;
        flex-flow: column wrap;
        font-weight:normal;
        justify-content:flex-end;
        color:#0065FC;
        border-top: 3px #0065FC solid;
        width: auto;
        height: 50px;
        align-items:center;
        padding: 0 0px 0 0px;
    }
    #SLOGAN{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        width: 100%;
        padding: 0px 0px 10px 0px;
    }
    .TITRE
    {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
        font-size: larger ;
        padding: 0px 20px 0px 0px;
        text-align: center;
    }
    .SOUSTITRE{
        font-size: 1.5em;
        display: flex;
        justify-content: center;
        align-self: center;
        max-width: 100%;
        font-size: larger ;
        padding: 0px 20px 0px 20px;
        text-align: center;
    }
    
    #LOCALISATION{
        align-self:center;
        width: 500px;
        height: 60px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 5px;
        border-color: #F2F2F2;
        padding: 20px 0px 20px 0px; 
    }
    #FILTRES{display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content:space-between;
        align-items: baseline;
        max-width: 100%;
        padding: 0px 20px 0px 20px;
    }
    #INFOS{
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 30px 0px 30px 0
    }
    #info{color:#0065FC;
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px #F2F2F2 solid;
        background-color: #DEEBFF;
        width: 20px;
        height: 20px;
        padding: 5px;
        border-radius: 0px ;}

    #section2{
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width:100%;
        justify-content: center;
    }
    aside{
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap; 
        width:100%;
        height: auto;
        background-color:white;
        border-radius: 0px;
        justify-content:space-around;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 20px 0 30px 0;
    } 
    .titre{
        display:flex;
        width: 100px;
        height: auto;
        margin: 0px  20px 0px 0px;
        padding: 0px  0px 0px 0px;
        width: 100px;
        height: auto;
        margin: 0px  20px 0px 0px;
        padding: 0px  0px 0px 0px;
    }
    #diag{
        display:none;
        margin: 0px  0px 0px 0px;
    }
 
    #Les_plus_Populaires{
        display: none;
        flex-flow: column nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 20px ;
    }
    #titre_les_popu{
        display: flex;
        font-size: 1.8em; 
        justify-content: center;
        align-self: center;
        border-bottom: 2px  grey solid;
        border-top: 2px  grey solid;
        margin: 10px  0px 30px 0px;
        padding: 20px  0px 20px 0px;
        width: 100%;
    
    }
    .titre{
        width:100%;
        justify-content: center;
        align-self: center;
        font-size:1.5em;
    }
    #diag{
        display: none;

    }
    
    .carte2{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        background-color: white;
        border-radius: 20px;
        width: 450px;
        height: auto;
        box-shadow: 5px 5px 5px 1px grey ;
        margin: 0px  20px 20px 0px;
        padding: 5px;
        justify-content: space-between ;
        justify-self:center;
    }

    .lieu{
        min-width: min-content;
    }

    .image2{
        border-radius: 20px ;
        max-width:100%;
        
    }

    .contain2{
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius: 15px ;
    }
    .text2{
        font-size: 1.2em;
        display: flex;
        width: auto;
        height:auto;
        align-self: center;
        margin: 0px  0px 0px 10px;
        padding: 0px 0px 0px 0px; 
    }
    .espace, .espace1{
        display: none;
    }
    
    .cotation2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: flex-end;
    }

    #Hot_le_soldumat{
        width:100%;
        display:flex;
        flex-flow:row wrap; 
    }#Au_coeur_2_lo{
        width:100%;
        display:flex;
        flex-flow:row wrap;
    }
    #Hot_bleu_blc{
        width:100%;
        display:flex;
        flex-flow:row wrap;
    }
    .text2 .cotation2{
        align-self:flex-end;
    }
    article{
        display: flex;
        flex-flow:row wrap;
        max-width: 100%;
        width:100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0px  0px 0px 0px;
        padding: 0px  0px 0px 0px;
        background-color:#F2F2F2;
        border-radius: 0px;

    }
    #heb_titre{
        font-size: 1.2em;
        display:flex;
        width:100%;
        justify-content: center;
        margin:30px  0px 30px 0px;
        padding: 0px  0px 0px 0px;
        align-self: center;
        border-bottom: 2px  grey solid;
        border-top: 2px  grey solid;
       
        
    }
    #Hebergements_a_Marseille{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height:auto;
        justify-content: space-around;
        align-items: center;
        margin: 0px  20px 0px 20px;
        padding: 0px  0px 20px 0px;
        border-radius: 0px;
    }
    .carte1{
        display: flex;
        flex-flow: column wrap;
        background-color: white;
        border-radius: 20px;
        width: 190px;
        height: 200px;
        box-shadow: 5px 5px 5px 1px grey ;
        margin: 20px  0px 0px 0px;
        padding: 3px  3px 3px 3px;
        justify-content: space-between ;
    }
    .image1{
        border-radius: 20px ;
        max-width:100%;
        max-height:200px
    }
    .contain1{
        max-width:100%;
        max-height:50%;
        object-fit:cover;
    }
    .text1{
        display: flex;
        max-width:100%;
        max-height:200px;
        justify-content: space-evenly;
        align-self: flex-end;
        margin: 0px  0px 10px 0px;
        padding: 0px 0px 0px 0px; 
    }
    #Aub_Cann{
        display: flex;
        flex-direction: column;
        height:300px;
        justify-content: space-between;
    }
    #Afficher{
        display: flex;
        width:100%;
        justify-content: flex-start;
        margin: 0px  0px 0px 20px;
    }
    #section3{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
        background-color:#F2F2F2;
    }
    #Activites_a_Marseille{
        display:flex;
        justify-content: center;
        text-align: center;
        width: 100%;
        align-self: center;
        border-bottom: 2px  grey solid;
        border-top: 2px  grey solid;
        font-size: 1.2em;
        margin: 30px 0px 20px 0px;
        padding: 0px 0px 0px 0px;
    }
    .ACTIV{
        display: flex;
        flex-wrap:wrap ;
        flex-direction: column;
        width:100%;
        height: 700px;
        justify-content:center;
        align-items: center;
        
        
    }
    .carte3{
        display: flex;
        flex-flow: column nowrap;
        background-color: white;
        border-radius: 20px;
        width: 40%;
        height: auto;
        box-shadow: 5px 5px 5px 1px grey ;
        margin: 0px  20px 20px 20px;
    }
    .contain3{
        width: 100%;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .text3{
        font-size: 1em;
        margin-left:20px;
        width: auto;
        height:50px;
    }
    .contain4{
        width: 100%;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .contain5{
        width: 100%;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .contain6{
        width: 100%;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #FOOTER{
        font-size:1.2rem;
        max-width: 100%;
        height:auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #cecece;
        justify-content: space-between;
        margin: 0px 0px 30px 0px;
        padding: 20px 25px  20px 30px;
    }
}
    



    
    