/*@media all and (max-width: 1024px)
{
    #FILTRES{flex-direction: column;   
    }
    .ACTIV{flex-wrap: nowrap;
    }
    #Hébergements_à_Marseille{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: min-content;
        height:auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px  20px 0px 20px;
        padding: 0px  20px 0px 0px;
    }
    #section2{
        flex-direction: column;
        flex-wrap: wra;
        max-width: min-content;
        min-width: min-content;
        height:auto;
    }
    #section2:nth-child(1){
        order:2;
    }
    .article{
        min-width: min-content;
    }*/