/*@media screen and (max-width: 480px)
{
    body
    {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif; ;
        padding: 0px 0px 0px 20px;
        max-width:480px;
    }
    header{display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        margin: 0px 0px 0px 0px;

    }
    #LOGO
    {
    float:inline-start;
    }
   nav{ 
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        height: 100px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        justify-content: space-between;
    }
    #section1{margin: 0px 0px 0px 0px;
        padding: 0px 0px 10px 0px;}
    #Heb{
        margin-bottom: 3px;
        border-bottom: #0065FC;
    }
    #insc
    {
        order: 2;
        
    }
   #FILTRES{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 500px;
        height: min-content;
    }

    #SLOGAN{
        max-width: 420px;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 20px 0px;
    }
    #loupe{display: flex ;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        border:1px #F2F2F2 solid;
        width: 30px;
        height: 31px;
        padding: 5px;
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px;
    }
    #ville{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border:1px #F2F2F2 solid;
        width: auto;
        height: 40px;
        padding: 0 0 0 0;  
    }

    #recherche{ order:4;
        display: flex ;
        justify-content: center;
        align-items: center;
        background-color: white ;
        color: white ;
        height: 31px;
        padding: 5px 15px 5px 15px;
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px;
        font-weight:bold;}

    #txt-info{
       text-align: right;
        width: 300px;
    }
    #section3{margin: 0px 0px 0px 40px;
        padding: 0px 0px 10px 0px;}
    .ACTIV{
        display: flex;
        flex-wrap:wrap ;
        flex-direction: column;
        height: auto;
        justify-content:center;
        align-items: flex-start;
        
        
    }
    .carte3{
        display: flex;
        flex-flow: column wrap;
        background-color: white;
        border-radius: 20px;
        width: 345px;
        height: 180px;
        box-shadow: 5px 5px 5px 1px grey ;
        margin: 0px  0px 30px 0px;
    }
    .contain3{
        width: 345px;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .text3{
        margin-left:20px;
        width: 345px;
        height:50px;
    }
    .contain4{
        width: 345px;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .contain5{
        width: 345px;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .contain6{
        width: 345px;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    #FILTRES{
        flex-direction: column;
    }
    #Les_plus_Populaires{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 350px;}
   
    #Hebergements_a_Marseille{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        min-width: min-content;
        height:auto;
        justify-content: space-evenly;
        align-items: center;
        margin: 0px  20px 0px 20px;
        padding: 0px  0px 0px 0px;
    }
    article{
        order:2;
        background-color: white;margin: 20px  0px 20px 0px;
        padding: 0px  0px 0px 0px;
    }
    .carte1{
        display: flex;
        flex-flow: column wrap;
        background-color: white;
        border-radius: 20px;
        width: 345px;
        height: 200px;
        box-shadow: 5px 5px 5px 1px grey ;
        margin: 0px  0px 30px 0px;
        padding: 3px  3px 3px 3px;
    }
    .image1{
        border-radius: 20px ;
        max-width:245px;
        max-height:120px
    }
    .contain1{
        width: 341px;
        height:120px;
        object-fit:cover;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    }
    .text1{
        display: flex;
        max-width:245px;
        max-height:180px;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px  0px 10px 0px;
        padding: 0px 0px 0px 10px; 
    }
    aside{
        order:1;
        background-color:#F2F2F2;
        border-radius: 0px;
    }
    #section2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: min-content;
        height:auto;
        margin: 0px  0px 0px 0px;
    
    }
    #FOOTER{
        max-width: 420px;
        height:auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #F2F2F2;
        justify-content: space-between;
        margin: 0px 0px 30px 0px;
        padding: 20px 0px  20px 30px;
    }
}*/